@import "./layouts.css";
@import "./modal.css";
.my_account {
  display: grid;
  grid-template-columns: repeat(2, 25% 70%);
  background-color: rgb(241, 241, 241);
  gap: 8rem;
}
.sidebar_nav {
  background: #ffff;
  width: 100%;
}

.sidebar_nav li {
  font-size: 4rem;
}
.sidebar_nav span {
  font-size: 2.8rem;
  display: block;
  text-align: center;
}
.sidebar_item {
  padding-top: 3rem;
}
.sidebar_item a {
  display: flex;
}
.sidebar_item span {
  padding-top: 1rem;
}
.sidebar_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
.account_menu {
  margin: 7rem 0;
}
.account_icon {
  border: 1px solid var(--text-black);
  border-radius: 50%;
  font-size: 3rem;
  margin-right: 10px;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
}
.sidebar_out {
  margin-top: 5rem;
}

.welcome_mobile {
  display: none;
}
.account table {
  border-collapse: separate;
  border-spacing: 0 4em;
}
.account thead {
  text-align: center;
  box-shadow: 0.1em 0.1em 1em 0.1em rgb(184, 180, 180);
  border-radius: 0.7rem;
  height: 5.5rem;
  font-size: 2rem;
}
.account tbody tr {
  text-align: center;
  box-shadow: 0.2em 0.2em 1em rgb(184, 180, 180);
  border-radius: 0.5rem;
  height: 10rem;
  font-size: 2rem;
}
.account th,
td {
  padding: 0 5rem;
  background-color: var(--text-white);
}
.account_title {
  margin-top: 5rem;
}
.account_title h3 {
  font-size: 2.4rem;
  padding-bottom: 1.5rem;
}
.account_title p {
  font-size: 1.6rem;
}
/* Account page start */
.selected {
  margin-top: 1.5rem;
  display: flex;
}
.selected_input {
  margin-right: 1rem;
}
.selected input[type="radio"]:checked + label {
  color: #0040d4;
}
/* profile page start */
.profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.personal_item {
  padding: 5rem;
}

.profile_section {
  margin: 5rem;
}
.profile_section h3 {
  font-size: 2.5rem;
}
.personal_item {
  display: flex;
  flex-direction: column;
}
.personal_item input {
  font-size: 2rem;
  padding-left: 1.5rem;
  padding: 1rem;
}
.personal_item label {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.confirm_form_number {
  border: 1px solid var(--border-color);
  font-size: 2rem;
  color: var(--placeholder-color);
  padding-left: 1rem;
  padding-top: 1rem;
  width: 100%;
  background-color: var(--text-white);
  padding: 1rem;
}
.confirm_form_number input {
  width: 95%;
  background-color: var(--text-white);
  border: none;
}
.confirm_form_number .number {
  width: 60%;
}
.confirm_form_number span {
  padding-top: 1rem;
}
.title {
  padding: 5rem 0 0 5rem;
}
.edit_btn {
  width: 20%;
  float: right;
  margin: 5rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--text-white);
  font-size: 2rem;
}
.edit_profile {
  display: flex;
  justify-content: space-between;
}
.edit_icon {
  padding-right: 1rem;
  padding-top: 0.7rem;
}
.profile_edit {
  display: flex;
  justify-content: flex-end;
}
/* settings page style start */
.settings_input {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 1.5rem;
}
.settings_input input {
  width: 70%;
  padding: 2rem;
  font-size: 2rem;
  margin: 1.5rem 2rem;
  padding-left: 1rem;
  border: 1px solid var(--border-color);
}
.setting_title {
  padding: 1rem 2rem;
}
.password_old {
  grid-column: 1/4;
}
.save_btn {
  width: 100%;
  height: 4.4rem;
  background-color: var(--secondary-color);
  color: var(--text-white);
  border: 1px solid var(--secondary-color);
  font-size: 2rem;
  margin-top: 1.5rem;
}
.languages {
  display: flex;
  margin: 1rem 5rem;
  font-size: 2.4rem;
}
.languages input {
  margin-left: 7rem;
}
.languages label {
  margin-left: 1rem;
}
.language_title {
  margin: 4rem;
}

@media (max-width: 1550px) {
  .sidebar_nav li {
    font-size: 1.9rem;
  }
  .sidebar_nav span {
    font-size: 2rem;
  }
  .account th,
  td {
    padding: 0 3rem;
  }

  .account_title h3 {
    font-size: 1.5rem;
  }

  .account thead {
    font-size: 1.5rem;
  }
  .account tbody tr {
    height: 10rem;
    font-size: 1.5rem;
  }

  .personal_item {
    padding: 1rem;
  }
  .settings_input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0.5rem;
  }
  .settings_input input {
    width: 25.5rem;
    height: 4.2rem;
  }
  .save_btn {
    margin-top: 0.1rem;
  }
  .title {
    padding: 5rem 0 0 2.8rem;
  }
}
@media (max-width: 1440px) {
  .my_account {
    gap: 5rem;
  }
  .confirm_form_number .number {
    width: 54%;
  }
}

@media (max-width: 1024px) {
  .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .my_account {
    background-color: rgb(241, 241, 241);
    gap: 2rem;
  }
  .save_btn {
    margin-top: 0;
    margin-left: 1rem;
  }
  .settings_input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .settings_input input {
    font-size: 1.5rem;
    margin: 1.5rem 2.6rem;
  }
  .settings_input input {
    width: 22.5rem;
  }
  .personal_item input {
    font-size: 1.5rem;
  }
  .sidebar_menu {
    padding: 50px;
  }
}
@media (max-width: 769px) {
  .my_account {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .sidebar_nav {
    display: none;
  }
  .account thead {
    font-size: 1.2rem;
  }

  .account thead {
    font-size: 1.2rem;
  }
  .account {
    margin-left: 2rem;
  }
  .order_details {
    margin: 1.5rem;
  }
  .order_details img {
    width: 39%;
  }
  .date_order p {
    font-size: 1.5rem;
  }
  .account tbody tr {
    font-size: 1.2rem;
  }
  .profile_section h3 {
    text-align: center;
  }
  .welcome_mobile {
    display: block;
    text-align: center;
  }
  .welcome_mobile h3 {
    color: var(--third-color);
  }
  .account_title h3 {
    text-align: center;
  }
  .account_title p {
    text-align: center;
  }

  .languages {
    margin: 1rem 14rem;
  }
}

@media (max-width: 480px) {
  .account th,
  td {
    padding: 0 0.6rem;
  }
  .account tbody tr {
    font-size: 1rem;
  }
  .account thead {
    font-size: 0.8rem;
  }
  .account {
    margin-left: 1rem;
  }
  .order_details {
    margin: 1.5rem;
  }
  .order_details img {
    width: 39%;
  }
  .date_order p {
    font-size: 1.5rem;
  }
  .profile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .settings_input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome_mobile {
    margin: 1.5rem;
  }
  .profile_edit {
    justify-content: center;
  }
  .profile_section hr {
    width: 100%;
  }
  .personal_item {
    padding: 1rem;
  }
  .profile_section {
    margin: 0;
  }
  .languages {
    flex-direction: column;
    margin: 1rem 8rem;
    font-size: 2rem;
  }
  .languages h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .welcome_mobile h3 {
    font-size: 1rem;
  }
  .settings_input input {
    width: 30rem;
  }
  .edit_btn {
    width: 100%;
    margin: 5rem 0;
  }
}
