@import "./layouts.css";
.all_product {
  display: grid;
  grid-template-columns: repeat(2, 20% 75%);
  gap: 25px;
  margin: 17px 60px;
}
.product_title h4 {
  font-size: 16px;
  padding: 15px 0;
}
.product_title p {
  font-size: 10.5px;
}
.product {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  height: 160px;
  position: relative;
}
.product_img {
  border-radius: 50%;
  border: 1px solid var(--text-white);
  background-color: #ffffff;
  margin: 30px;
}
.product_sort {
  display: flex;
  justify-content: space-between;
}
.product_sort_type {
  padding-left: 7px;
  font-size: 20px;
}
.product_sort_by {
  display: flex;
}
.product_sort_by .show{
  padding-left: 25px;
  margin: 5px 10px;
}

.product_sort_item {
  border: 1px solid black;
  width: 80px;
  display: flex;
  justify-content: space-between;
  padding: 1px;
}
.product_sort_item select {
  font-size: 10px;
  border: none;
}
.sub_product {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 50px;
}
.sub_product_item {
  border: 1px solid #c4c4c4;
  height: 400px;
  padding: 20px;
  animation-duration: 1.5s;
  transition: 0.5s;
}
.sub_product_item:hover {
  transform: scale(1.1);
}
@keyframes card {
  from {
    transform: translateX(110px);
  }
  to {
    transform: translateX(10px);
  }
}
.sub_product_item h2 {
  font-size: 13px;
  padding: 10px;
}
.sub_product_item span {
  font-size: 15px;
  padding: 10px 4px;
  font-weight: 700;
}
.sub_product_item p {
  font-size: 9px;
  padding: 10px;
}
.categories {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.categories .categories_name {
  margin: 15px;
}
.title {
  background-color: var(--primary-color);
  font-size: 15px;
}
.categories input {
  margin: 0 5px;
}
.product_details {
  margin: 23px;
}
.after_discount {
  text-decoration: line-through;
  color: #9a0000;
}
.sub_product_item img {
  width: 100%;
}
.out_stock {
  color: #848484;
  font-size: 10px;
  padding-left: 15px;
}
.before_discount {
  padding-left: 80px;
}
.pre-btn,
.nxt-btn {
  border: none;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pre-btn {
  left: 0;
  top: 50%;
}

.nxt-btn {
  right: 0;
  top: 50%;
}
.category_container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.category_container::-webkit-scrollbar {
  display: none;
}
.list {
  display: none;
}

.list_design {
  display: flex;
  border-bottom: 1px solid gray;
}
.list_type {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}
.list_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  font-size: 12px;
}
.list_item {
  padding: 15px;
}
.product_design {
  display: flex;
}

.active,
.btn:hover {
  color: #EDC50C;
  font-weight: 800;
}

.pagination div {
  display: inline-block;
  margin: 0 10px;
  
}
.pagination_section{
  margin:  50px 300px;
}

.pagination .prev,
.pagination .next {
  color: #000;
  border: 1px solid #000;
  font-size: 15px;
  padding: 7px 15px;
  cursor: pointer;
}

.pagination .prev.disabled,
.pagination .next.disabled {
  border-color: gray;
  color: gray;
  pointer-events: none;
}

.sub_product_item .hide {
  display: none;
}
.sub_product_item.show {
  display: block;
  animation: show 0.5s ease;
}
.list_design .before_discount {
  font-size: 15px;
  font-weight: 900;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.hide {
  display: none;
}
.show {
  display: grid;
}
@media (max-width: 1024px) {
  .all_product {
    display: grid;
    grid-template-columns: repeat(2, 30% 70%);
    gap: 25px;
    margin: 17px 25px;
  }
  .sub_product_item p {
    font-size: 7px;
  }
  .sub_product_item {
    height: 356px;
  }
  .sub_product {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 15px;
  }

  .sub_product_item span {
    font-size: 10px;
  }
  .sub_product_item {
    height: 320px;
    padding: 5px;
  }
  .list_item p {
    padding: 5px;
    font-size: 12px;
  }
  .list_item p {
    padding: 5px;
    font-size: 12px;
  }
  .list_item h4 {
    font-size: 12px;
  }
  .list_design h2{
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .all_product {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 0;
    margin: 20px 0;
  }
  .sub_product {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 50px;
  }
  .sub_product_item h2 {
    font-size: 7px;
  }
}
