@import "./layouts.css";
.all_product {
  display: grid;
  grid-template-columns: repeat(2, 20% 70%);
  gap: 5rem;
  margin: 1.7rem 6rem;
}
.categories {
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
}
.categories .categories_name {
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.title {
  background-color: var(--primary-color);
  font-size: 2rem;
}
.categories input {
  margin: 0 0.5rem;
}
.categories label {
  font-size: 2rem;
}
.categories span {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.product_title h4 {
  font-size: 2.8rem;
  padding: 1.5rem 0;
}
.product_title p {
  font-size: 2rem;
}

.product_details {
  margin: 4rem;
}
.product {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 2rem;
  position: relative;
  width: 100%;
}

.pre-btn,
.nxt-btn {
  border: none;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  padding: 0 1rem;
}

.pre-btn {
  left: 0;
  top: 50%;
}

.nxt-btn {
  right: 0;
  top: 50%;
}
.category_container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: auto;
  margin: 0 5rem;
}
.category_container::-webkit-scrollbar {
  display: none;
}
.product_img {
  border-radius: 50%;
  border: 1px solid var(--text-white);
  background-color: var(--text-white);
  margin: 2rem;
}

.product_img img {
  width: 12rem;
  padding: 2.5rem 1.5rem 0 1rem;
}

.product_sort {
  display: flex;
  justify-content: space-between;
}
.product_sort_type {
  padding-right: 3rem;
  font-size: 2rem;
}
.product_sort_icon {
  padding: 0 0.5rem;
  font-size: 2rem;
}
.product_sort_by {
  display: flex;
}
.product_sort_by .show {
  padding-left: 2rem;
  margin: 0.5rem 1rem;
  font-size: 1.6rem;
}
.product_sort_item {
  border: 1px solid var(--border-color);
  
}
.sort_by {
  display: flex;
}

.product_sort_item select {
  font-size: 1.6rem;
  border: none;
  padding-left: 1rem;
  padding-right: 6rem;
}
.sub_product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  width: 100%;
}
.sub_product_item {
  border: 1px solid var(--border-color);
  animation-duration: 1.5s;
  transition: 0.5s;
}
.sub_product_item:hover {
  transform: scale(1.1);
}
.show_as_list .sub_product_item:hover {
  transform: scale(1);
}

@keyframes card {
  from {
    transform: translateX(10.1rem);
  }
  to {
    transform: translateX(1rem);
  }
}
.new_button {
  padding: 1rem 3.5rem;
  background-color: var(--after-discount);
  color: var(--text-white);
  border: none;
}
.sub_product_item h2 {
  font-size: 2rem;
  padding: 2rem 3rem;
}
.sub_product_item span {
  font-weight: 700;
}
.sub_product_item p {
  font-size: 1.4rem;
  padding: 2.5rem 3rem;
}
.price_details {
  padding: 2.5rem 3rem;
  font-size: 1.5rem;
}
.price_details span {
  padding-left: 1rem;
}
.price {
  font-size: 2rem;
  font-weight: 700;
}
.after_discount {
  text-decoration: line-through;
  color: var(--after-discount);
}
.sub_product_item img {
  width: 100%;
  padding: 3rem;
}
.out_stock {
  color: var(--third-color);
  font-size: 1.3rem;
  padding: 1rem 3rem;
}


.product_design {
  display: flex;
}

.active,
.btn:hover {
  color: var(--primary-color);
  font-weight: 800;
}
.pagination{
  display: flex;
  justify-content: center;

}
.pagination li{
  padding-left: 3rem;

}
.page-link{
  font-size: 2.5rem;  
}
a.page-link{
  color: black;
}
.sub_product_item .hide {
  display: none;
}
.sub_product_item {
  animation: show 0.5s ease;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.hide {
  display: none !important;
}

.categories_name_mobile label {
  padding-left: 1rem;
}
/* announcements section style start */
.search_product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.add_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
  font-size: 2.4rem;
}
.add_info div {
  margin: 0.7rem;
}
.Announcements_icon {
  padding-right: 0.5rem;
}
.ad h2 {
  font-size: 2rem;
}
.ad h1 {
  font-size: 2rem;
  text-align: center;
  padding: 4rem 0;
}
.user_info_list {
  font-size: 2.4rem;
  display: flex;
}
.user_info_list div {
  margin: 2rem 3rem;
}

.ad_btn_search {
  background-color: var(--primary-color);
  margin-top: 1.5rem;
  height: 4rem;
  font-size: 2rem;
}
.container_ad_search {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 5rem 0;
}
.container_ad_search h6 {
  font-size: 2rem;
  margin: 2rem 5rem;
}
/* design category mobile */

.category_container_mobile {
  display: none;
}
.hr_mobile {
  display: none;
}
/* design list */
.show_as_list.sub_product {
  display: flex;
  flex-direction: column;
}
.show_as_list .sub_product_item {
  display: flex;
  border: 0;
  border-bottom: 1px solid var(--border-color);
}
.show_as_list .sub_product_item p {
  font-size: 2rem;
}
.show_as_list .sub_product_item h2 {
  font-size: 2.5rem;
}
.show_as_list .sub_product_item img {
  width: 25rem;
}
@media (max-width: 1550px) {
  .sub_product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
  .search_product {
    width: 96% !important;
  }
  .price_details {
    padding: 1rem 3rem;
  }
  .pagination_section {
    margin-bottom: 5rem;
  }
  .sub_product_item h2 {
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
  }
  .sub_product_item p {
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
  }
  /* .price_details {
    padding: 1rem 1rem;
  } */
  .price {
    font-size: 1.2rem;
  }
  /* Announcements responsive style section start */
  .search_product {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .add_info {
    font-size: 1.5rem;
  }
  .user_info_list {
    font-size: 1.8rem;
  }
}
@media (max-width: 1440px) {
  .search_product {
    display: grid;
    grid-template-columns: repeat(4, 22%) !important;
  }
}
@media (max-width: 1024px) {
  .sub_product {
    display: grid;
    grid-template-columns: repeat(3, 20.1rem);
    gap: 2rem;
  }
  .all_product {
    display: grid;
    grid-template-columns: repeat(2, 25% 70%);
    gap: 4rem;
  }
  .categories_name label {
    font-size: 1.5rem;
  }
  .categories_name span {
    font-size: 1.2rem;
  }

  .sub_product_item h2 {
    font-size: 1.5rem;
  }
  .product_sort_item select{
    padding-right: 3rem;
    padding-left: .5rem;
  }
  .product_sort_by .show {
    padding-left: 1rem;
  }

  /* ad section responsive style start */
  .container_ad_search h6 {
    font-size: 2rem;
    margin: 2rem 0.6rem;
  }
  /* desigm list */
  .show_as_list .sub_product_item p {
    font-size: 1.5rem;
  }

  .show_as_list .sub_product_item h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 769px) {
  .categories {
    display: none;
  }
  .all_product {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    margin: 1.7rem 0;
  }

  .sub_product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .sub_product_item {
    border: none;
    border-bottom: 1px solid var(--text-black);
    padding-bottom: 1.5rem;
    margin-left: 1rem;
  }

  .sub_product_item h2 {
    font-size: 2rem;
  }
  .sub_product_item p {
    font-size: 1.5rem;
  }
  .price {
    font-size: 1.5rem;
  }

  .sub_product_item img {
    width: 55%;
    margin-left: 12rem;
  }
  .price_details {
    font-size: 1.5rem;
  }
  .sub_product_item:hover {
    transform: none;
  }
  /* design category mobile */
  .category_container_mobile {
    display: grid;
    margin: 5rem;
    font-size: 1.2rem;
  }
  .category_container_mobile h4 {
    text-align: center;
    font-size: 2rem;
  }
  .categories_mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;
  }
  .categories_name_mobile {
    display: flex;
    padding: 1.5rem;
  }
  .categories_name_mobile span {
    padding-left: 1.2rem;
  }
  .hr_mobile {
    display: block;
    width: 100%;
  }
  .product_sort_item select {
    padding-right: 5rem;
  }
  .product_details {
    margin: 5rem 0;
  }
  .product_details:first-child {
    margin: 5rem 2rem;
  }
  .product_sort {
    display: flex;
    justify-content: space-around;
  }
  /* Announcements responsive style section start */
  .search_product {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .container_ad_search {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    margin: 5rem 0;
  }
  .container_ad_search h6 {
    grid-column: 1/4;
  }
  .ad h1 {
    text-align: center;
    padding: 2rem 2rem;
  }
  /* design list */
  .show_as_list .sub_product_item img {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .all_product {
    margin: 0rem 1rem;
  }
  .sub_product_item h2 {
    font-size: 2rem;
  }
  .product_details {
    justify-content: center;
    margin: 4rem 0;
  }
  .product_design {
    display: none;
  }
  /* Announcements mobile style section start */
  .search_product {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .sub_product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .product_sort_by .show {
    padding-left: 0;
  }
  .container_ad_search {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    margin: 2rem 1rem;
    justify-content: center;
  }

  .btn_search {
    margin-left: 0;
  }
  .product_title p {
    font-size: 1.5rem;
  }
  .product_title h4 {
    font-size: 2rem;
  }
  .sub_product_item img {
    width: 60%;
    margin-left: 6rem;
  }
  /* category mobile responsive */
  .category_container_mobile {
    margin: 2rem;
  }
  .category_container_mobile h4 {
    font-size: 1.5rem;
  }
  .categories_mobile {
    font-size: 1rem;
  }
  .categories_name_mobile {
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
  }
  .product_sort_by .show {
    font-size: 1rem;
  }

  .sub_product_item h2 {
    font-size: 1.5rem;
  }
  .sub_product_item p {
    font-size: 1.5rem;
  }
  .sub_product_item:hover {
    transform: none;
  }
  .pagination{
    margin-bottom: 1.7rem;
  }
  .pagination li {
    padding-left: 2rem;
}
.page-link{
  font-size: 1.5rem;
}
.ad_btn_search{
  
  font-size: 1.5rem;
}

}
