@import "./layouts.css";
.cart_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10.5rem;
}
.cart_section {
  margin-bottom: 8rem;
}
.cart_section h5 {
  font-size: 2.8rem;
  margin: 5rem;
}
.all_products {
  display: flex;
}
.cart_image img{
  margin-left: 2rem;
  width: 100%;
}
.cart_brand {
  color: #6c6c6c;
  font-size: 1.6rem;
}

.cart_items {
  font-size: 2.4rem;
margin: 2rem 3rem;
  width: 100%;
}
.counter {
  border: 1px solid var(--text-black);
  width: 100%;
  height: 4.2rem;
  display: flex;
}
.counter input {
  width: 6rem;
  border: 0;
  font-size: 1.8rem;
  text-align: center;
  color: var(--text-black);
  appearance: none;
  outline: 0;
}
.quantity_icon {
  font-size: 1.8rem;
  background-color: var(--secondary-color);
}

.cart_items .cart_title {
  margin-top: 2.5rem;
  margin-bottom: 3rem;  
}
.cart_actions {
  margin: 1rem 0 10.2rem 0;
  font-size: 1.6rem;
}
.price_details {
  border: 1px solid var(--border-color);
  margin-top: 7rem;
  width: 90%;
  padding: 0 2rem;
}
.price {
  font-size: 2rem;
}
.price_details h4 {
  font-size: 2.5rem;
}
.price_btn {
  width: 100%;
  padding: 2rem;
  background-color: var(--secondary-color);
  font-size: 2rem;
  color: var(--text-white);
  border: 1px solid var(--secondary-color);
  margin: 8rem 3rem 1rem 0;
}
.price_item {
  margin-top: 5rem;
}
.price_item span {
  margin-top: 3rem;
}

.total {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  margin-right: 4rem;
}
.payment_method {
  margin-top: 5rem;
}
.payment_method h6 {
  padding-bottom: 2rem;
  font-size: 1.6rem;
}
.payment_method img {
  padding-left: 1.5rem;
}
.free_delivery {
  color: #ce0000;
}
.delivery_order{
  margin-bottom: 1rem;
}
@media (max-width: 1550px) {
  .cart_actions:not(:last-child) {
    margin: 1rem 0 5rem 0;
  }
}

@media (max-width: 1440px) {
  .cart_items{
    font-size: 1.5rem;
  }
}
@media (max-width: 1029px) {
  .price_details h4 {
    font-size: 2rem;
}
.total{
  font-size: 2rem;
}
.price_btn{
  padding: 1rem
}
.payment_method img {
  padding-left: 1rem;
}
}
@media (max-width: 769px) {
  .cart_info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .price_details{
    width: 100%;
  }
  .payment_method{
    text-align: center;
  }
  .price_btn{
    margin: 8rem 0rem 1rem 0;
  }
}
@media (max-width: 480px) {
  .cart_actions {
    margin: 1rem 0 2rem 0;
    font-size: 1.2rem;
  }
  .cart_items {
    font-size: 1rem;
}
.counter input {
  width: 4rem;
  margin-right: 1rem;
}
.payment_method img{
  width: 20%;
}

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
height: 5rem;
background-color:var(--secondary-color);
opacity: 1;

}
