@import "./layouts.css";

.categories_item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5rem;
  margin: 5rem;
}
.categories_title {
  margin: 8rem 5rem .4rem 5rem;
}
.categories_title h2 {
  font-size: 2.4rem;
}
.categories_title p {
  font-size: 2rem;
  padding-top: 1.5rem;
}
.categories_img {
  box-shadow: 5px 5px 5px rgb(249, 243, 243);
  border: 1.5px solid rgb(249, 243, 243);
  height: 20.2rem;
  position: relative;
  width: 100%;
}
.categories_img .categories_img_one {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 10.2rem;
  height: 12.5rem;
}
.categories_img .categories_img_two {
  position: absolute;
  bottom: 10%;
  left: 40%;
  width: 12rem;
  height: 12rem;
}
.categories_details {
  display: flex;
  flex-direction: column;
  animation-name: card;
  animation-duration: 1s;
  transition: 0.2s;
}
.categories_details:hover {
  transform: scale(1.1);
}
@keyframes card {
  from {
    transform: translateX(110px);
  }
  to {
    transform: translateX(10px);
  }
}
.categories_details h6 {
  padding: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
}
.category_cover {
  width: 100%;
}
.read_more {
  display: none;
}
@media (max-width: 1600px) {
  .categories_item {
    gap: 1rem;
  }
  .category_cover {
    padding: 0 5rem;
  }
  .categories_details h6 {
    font-size: 1.2rem;

  }
}
@media (max-width: 1029px) {
  .categories_item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .categories_img .categories_img_one {
    width: 8rem;
    height: 8rem;
    top: 20%;
  }
  .categories_img .categories_img_two {
    width: 8rem;
    height: 8rem;
  }
  .categories_img {
    width: 20.8rem;
  }

}
@media (max-width: 769px) {
  .categories_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 30px 10px;
  }
  .categories_details h6 {
    text-align: center;
    font-size: 1rem;
    padding: 1rem ;
  }
  .category_cover {
    width:100%;
    padding: 0 3rem;
  }
  .categories_img {
    position: relative;
    text-align: center;
    height: 17rem;
  }
  h6 {
    position: absolute;
  }
  .categories_title p {
    font-size: 1.3rem;
  }
  .categories_title {
    text-align: center;
    margin: 3rem 5rem 2rem 5rem;
}
}
@media (max-width: 480px) {
  .categories_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    gap: 1.2rem;
    margin: 3rem 2rem;
  }
  .category_cover {
    padding-left: 1rem;
  }

  .categories_title p {
    font-size: 1rem;
  }
  .categories_img .categories_img_two {
    width: 4.8rem;
  }
  .categories_img {
    width: 9.7rem;
  }
  .categories_details h6 {
    padding: .5rem;
    font-size: .8rem;
  }
  .category_cover {
    padding: 0 1.5rem;
  }
  .categories_details:hover {
    transform:none;
  }
}
