@import "./layouts.css";
input::placeholder {
  font-size: 2rem;
}
.product{
  display: none;
}
.checkout_item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #f1f1f1;
  width: 100%;
  margin: 5rem 0;
  padding: 1rem;
  background-color: #f1f1f1;
  font-size: 2.6rem;
}
.checkout h2 {
  font-size: 2.5rem;
  margin: 5rem 2rem;
}
.product_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: none;
}
.payment_item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  display: none;
}
.payment {
  display: flex;
}
.product_details {
  display: flex;
  margin-left: 2.5rem;
}
.checkout_image img {
  width: 100%;
}
.product_details h5 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.product_details span {
  font-size: 1.6rem;
  margin-left: 2rem;
}
.hide {
  display: none;
}
.show {
  display: grid;
}
.up_arrow {
  display: none;
}
.payment {
  margin-left: 2rem;
}
.payment input {
  margin-right: 2rem;
}
.checkout_location {
  font-size: 2rem;
}
.input_location {
  width: 35%;
  padding: 1.8rem;
  color: var(--placeholder-color);
  padding-left: 1rem;
  font-size: 2rem;
  margin: 1.5rem 5rem;
}
.location_item {
  padding: 1.5rem 1rem;
}
.location_item input {
  margin: 1.5rem;
}
.location_item span {
  font-size: 2rem;
}
#new_location {
  display: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem 2rem;
}

.new_item {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.new_item label {
  font-size: 2rem;
  padding-bottom: 1.2rem;
}
.new_item input {
  width: 100%;
  padding-left: 1rem;
  padding: 1.8rem;
}
.confirm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem 2rem;
}
.confirm input {
  width: 70%;
  padding-left: 1rem;
  font-size: 2rem;
  padding: 1.8rem;
}
.confirm_form_number #number {
  border: none;
}

.confirm_form_number {
  border: 1px solid var(--border-color);
  font-size: 2rem;
  color: var(--placeholder-color);
  padding-left: 1rem;
  width: 70%;
}

.confirm_btn {
  float: right;
  width: 15%;
  padding: 2rem;
  font-size: 2rem;
  color: var(--text-white);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  margin: 2rem;
}
@media (max-width: 1024px) {
  .product_details h5 {
    font-size: 1.5rem;
  }
}
@media (max-width: 769px) {
  .confirm input {
    width: 60%;
    padding: 1.2rem;
  }
  input::placeholder {
    font-size: 1.5rem;
  }
  .confirm_form_number {
    font-size: 1.5rem;
  }
  .confirm_btn {
    width: 37%;
  }
  .checkout_item{
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .product_item {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .confirm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #new_location {
    display: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .confirm input {
    width: 100%;
  }
  .confirm_form_number {
    width: 100%;
  }
  .confirm_form_number #number {
    width: 70%;
  }
  .confirm_btn {
    width: 100%;
    margin: 0;
  }
  .product_details h5 {
    font-size: 1rem;
  }
  .payment_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .checkout_details {
    width: 50%;
  }
  .checkout_image img {
    width: 80%;
  }
  .location_item span {
    font-size: 1rem;
}
}
