@import "./layouts.css";
.empty {
  margin: 25px 85px;
}
.empty_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.empty_cart_title {
  font-size: 19px;
  color: #a1a1a1;
  padding: 35px 0 20px 0;
}
.empty_cart_btn {
  padding: 11px 97px;
  background-color: #707070;
  color: white;
  font-size: 15px;
}
