@import "./layouts.css";

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.login_details {
  margin: 7rem 0;
}
.login_details_item {
  padding: 1.5rem;
}
.title {
  font-weight: 700;
  font-size: 3rem;
}
.description {
  font-size: 2rem;
}
.login_details_btn {
  background-color: var(--secondary-color);
  color: var(--text-white);
  border: none;
  padding: 1rem 1.8rem;
  margin: 12px;
  font-size: 2rem;
}
.login_form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16rem;
}
.login_form form {
  display: flex;
  flex-direction: column;
}
.login_form label {
  font-weight: bolder;
  font-size: 2.4rem;
  padding: 1rem 0;
}
.login_form input {
  font-weight: bolder;
  font-size: 2rem;
  width: 50.5rem;
  padding-left: 1rem;
}
.login_form #password {
  border: none;
}
.login_form #email {
  height: 4.5rem;
  border: 1px solid var(--border-color);
}
.login_form_item {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 50.5rem;
}
.login_form_password {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  margin-bottom: 1.5rem;
  height: 4.5rem;
  align-items: center;
}
.eye_icon {
  font-size: 2.5rem;
  padding-right: 1rem;
}
.login_form input::placeholder {
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--placeholder-color);
}

.login_form_btn {
  cursor: pointer;
  height: 4.5rem;
  background-color: #707070;
  border: none;
  font-size: 2rem;
  color: var(--text-white);
}
.login_form_forget {
  font-size: 1.8rem;
  padding: 1.5rem 0;
  text-decoration: underline;
  color: blue;
}
.login_form_Link {
  font-size: 1.8rem;
  text-align: center;
  color: var(--secondary-color);
}
.login_form_Link span {
  font-size: 1.8rem;
  font-weight: 900;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@media (max-width: 1440px) {

}

@media (max-width: 1024px) {
  .container {
    padding: 1rem;
  }
  .login_form_item {
    width: 32rem;
  }
  .login_form input {
    width: 32rem;
  }
  .title {
    font-size: 2rem;
  }
}
@media (max-width: 769px) {
  .login {
    display: grid;
    grid-template-columns: 30rem 50rem;
  }
  .login_details {
    margin: 10rem 2rem;
  }
  .login_form label {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1.2rem;
    width: 30rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .login_details_btn {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .login {
    display: grid;
    grid-template-columns: 40rem;
  }
  .login_form {
    margin: 2rem;
  }
  .login_details {
    margin: 1rem 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--border-color);
  }
  .login_form label {
    font-size: 1rem;
  }
  .login_form input {
    width: 35rem;
  }
  .login_form_item {
    width: 35rem;
  }
  .login_form_btn {
    font-size: 1.5rem;
  }
  .login_form_forget {
    font-size: 1rem;
  }
  .login_form_Link {
    font-size: 1.2rem;
  }
  .login_form_Link span {
    font-size: 1.2rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.3rem;
  }
  .login_details_btn {
    font-size: 1rem;
  }
  .eye_icon {
    font-size: 1.5rem;
  }
}
