@import "./layouts.css";
@import "./modal.css";
hr {
  border-color: 1px solid var(--border-color);
}
.product-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5rem 17rem;
}
/* image zoom to show all details */
.image-main {
  width: 100%;
}
.picture {
  width: 100%;
  height: 100%;
  position: relative;
}

.pictures img {
  width: 100%;
  height: 100%;
}
.rect {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100px;
  background-color: #78787c4d;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}

.active {
  opacity: 2;
}

.zoom {
  position: absolute;
  width: 95%;
  height: 95%;
  border: 1px solid black;
  background-image: url("");
  opacity: 0;
  z-index: 1;
}
.rect-active {
  opacity: 1;
}
/* end image zoom */
.product_item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product_item_mobile {
  display: none;
}

h1 {
  font-size: 2.2rem;
}

.image-slider .image-main {
  margin: 2rem;
  padding: 3rem;
}

.product-images img {
  width: 15%;
  height: 30%;
  object-fit: cover;
  cursor: pointer;
  padding-left: 1rem;
}

.product-images img.active {
  opacity: 0.5;
}

.product-sub-heading {
  font-size: 2.5rem;
  padding-top: 2rem;
}

.radio_btn {
  display: inline-block;
  text-align: center;
  padding: 1.4rem;
  border: 1px solid var(--secondary-color);
  margin: 1.5rem;
  margin-left: 0;
  color: var(--secondary-color);
  cursor: pointer;
}
.color_btn {
  border-radius: 50%;
  width: 2%;
  font-size: 1.5rem;
}
.size_btn {
  width: 16%;
  border-radius: 10%;
  font-size: 1.5rem;
}
.radio_btn.check {
  background: var(--secondary-color);
  color: var(--text-white);
}
.color {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.radio_color .check_color {
  border: 4px solid #b8c9ff;
}
.cart-btn {
  margin-right: 2%;
  background: var(--secondary-color);
  color: var(--text-white);
}
.product_size {
  display: flex;
}
.product_details_item {
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: #f1f1f1;
  position: relative;
}
.product_item_desktop {
  border: 1px solid #f1f1f1;
  display: none;
}
.product_details_item h3 {
  font-size: 1.5rem;
  padding: 1.5rem;
}
.product_details_item p {
  font-size: 2rem;
}

.product_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.product_info span {
  font-size: 2rem;
  font-weight: bold;
}
.pargragh_one {
  padding: 1rem;
}

.product-actual-price {
  font-size: 2.5rem;
  opacity: 0.5;
  text-decoration: line-through;
  margin: 0 1rem;
  font-weight: 500;
}
#actual-price {
  font-size: 1.5rem;
}

hr {
  margin: 1.5rem;
}

.counter {
  border: 1px solid black;
  width: 37%;
  height: 95%;
  display: flex;
}
.counter input {
  width: 60px;
  border: 0;
  font-size: 2rem;
  text-align: center;
  color: var(--text-black);
  appearance: none;
  outline: 0;
}
.quantity_icon {
  font-size: 2rem;
  background-color: var(--secondary-color);
}
.up {
  border-bottom: 1px solid var(--text-black);
}
.saved_money {
  border: 1px solid #ce0000;
  background-color: #ce0000;
  color: #f1f1f1;
  width: 30%;
  text-align: center;
  padding-top: 1rem;
  margin: 0 1.5rem;
  font-size: 2.5rem;
}
.product_action {
  display: flex;
}
.addtional_info {
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  position: relative;
}
.product_img {
  border-radius: 50%;
  border: 1px solid var(--text-white);
  background-color: #ffffff;
  margin: 3rem;
}
.product_sort {
  display: flex;
  justify-content: space-between;
}
.product_sort_type {
  padding-left: 0.7rem;
  font-size: 2rem;
}
.product_sort_by {
  display: flex;
}
.sub_product_item img {
  width: 70%;
  margin-left: 4rem;
}
.product_sort_item {
  border: 1px solid var(--text-black);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}
.sub_product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.sub_product_item {
  border: 1px solid var(--border-color);
  height: 100%;
  padding: 2rem;
  animation-duration: 1.5s;
  transition: 0.5s;
}
.sub_product_item:hover {
  transform: scale(1.1);
}
@keyframes card {
  from {
    transform: translateX(110px);
  }
  to {
    transform: translateX(10px);
  }
}
.sub_product_item h2 {
  font-size: 2rem;
  padding: 1rem;
}
.sub_product_item span {
  font-size: 2rem;
  padding: 1rem 0.4rem;
  font-weight: 700;
}
.sub_product_item p {
  font-size: 1.8rem;
  padding: 1rem;
}

.title {
  background-color: var(--primary-color);
  font-size: 1.5rem;
}
.categories input {
  margin: 0 0.5rem;
}
.product_details {
  margin: 2.3rem;
}
.after_discount {
  text-decoration: line-through;
  color: var(--after-discount);
}
.sub_product_item img {
  width: 60%;
}
.out_stock {
  color: #848484;
  font-size: 1.2rem;
  padding-left: 1.5rem;
}
.before_discount {
  padding-left: 8rem;
}
.similar_product_title {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10.15rem;
  font-size: 2rem;
}
.similar_product_title a {
  color: var(--secondary-color);
}
.sub_product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7rem;
  justify-content: center;
}

.radio_color {
  display: flex;
  align-items: center;
}

.Announcements_icon {
  font-size: 1.5rem;
  padding-right: 1.5rem;
}
.btn_add_cart {
  margin-left: 1.5rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  color: var(--text-white);
  font-size: 2rem;
}
.single_product_info {
  padding-right: 2rem;
}
@media (max-width: 1550px) {
  .product_details_item p {
    font-size: 1.7rem;
    padding-top: 1rem;
  }
}

@media (max-width: 1024px) {
  .product-details {
    margin: 5rem 2rem;
  }
  .product_details_item p {
    font-size: 1.3rem;
  }
  .btn_add_cart {
    font-size: 1.5rem;
  }
  .counter input {
    width: 40px;
  }
  .sub_product_item h2 {
    font-size: 1.2rem;
  }
  .sub_product {
    gap: 2rem;
  }
  .sub_product_item p {
    font-size: 1rem;
  }
  .sub_product_item span {
    font-size: 1.2rem;
  }
}
@media (max-width: 769px) {
  .radio_btn {
    padding: 1rem;
  }
  .size_btn {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .product_info span {
    font-size: 1.3rem;
  }
  .product_details_item p {
    font-size: 1rem;
  }
  .counter input {
    width: 40px;
  }
  .btn_add_cart {
    font-size: 1.2rem;
  }
  .product_details_item img {
    width: 20%;
    padding-left: 1rem;
    padding-top: 2rem;
  }
}
@media (max-width: 480px) {
  .product-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .desktop {
    display: none;
  }
  .see_mobile {
    display: none;
  }
  .category_container {
    display: none;
  }
  .product_item_mobile {
    display: grid;
  }
  /* .details_mobile {
    margin-left: 0;
  } */
  .radio_color {
    justify-content: center;
  }
  .product_size {
    justify-content: center;
  }
  .single_product_info {
    margin-left: 5rem;
  }
  .single_product_info {
    margin-left: 1rem;
    padding-right: 10rem;
  }
  .image-slider {
    margin-left: 4rem;
  }
  .product-images {
    margin-left: 2rem;
  }
  .product-images img {
    width: 25%;
  }
  .product-sub-heading {
    text-align: center;
  }
  .product_details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .sub_product_item {
    border: none;
    border-bottom: 1px solid var(--border-color);
  }
  .sub_product_item:hover {
    transform: none;
  }
  .similar_product_title a {
    display: none;
  }
  .btn_add_cart {
    font-size: 1rem;
  }
  h1 {
    text-align: center;
  }
  .image-slider .image-main {
    padding: 0;
  }
}
