html[dir="rtl"] p {
  text-align: right;
}
html[dir="rtl"] .btn_shop {
  margin-right: 12rem;
  text-align: right;
}
html[dir="rtl"] .search input {
  padding-right: 4rem;
}
html[dir="rtl"] .other_product {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
html[dir="rtl"] .other_product_item p {
  width: 40%;
  text-align: right;
}
html[dir="rtl"] .Announcements {
    margin-right: 75rem;
    text-align: right;
  }
  html[dir="rtl"] .Announcements p{
   width: 100%;
  }
  

